<div class="categories">
  <button class="text-black py-2 px-4 rounded-full create-category"
          type="button" (click)="onCreateCategory()">
    Create Category
  </button>
  <h1 routerLink="/home" routerLinkActive="category-active" style="height: 27px;width: 100%; font-weight: 450; font-size: 1rem;display: block;padding-left: 20px"
      class="cursor-pointer"> <fa-icon style="margin-left: 13px;margin-right: 8px" [icon]="faHome"></fa-icon>Home
  </h1>
  <div class="dropdown">
    <h1 style="height: 27px; font-weight: 450; font-size: 1rem; padding-top: 2px"
        class="cursor-pointer" (click)="toggleDropdown()"> <fa-icon style="margin-left: 15px" [icon]="faCaretDown"></fa-icon><fa-icon style="margin-left: 8px;margin-right: 8px" [icon]="faBookOpen"></fa-icon>Categories
    </h1>
    <div id="myDropdown" class="dropdown-content" [ngClass]="dropdownOpen ? 'show' : ''" >


      <div>
      <app-category-item style="height: 25px; font-size: 0.8rem" class="dropdown-item" *ngFor="let category of categories"
                         [category]="category" [routerLink]="[category.id]" routerLinkActive="category-active"
                         (click)="onGetNotes(category)"></app-category-item></div>
    </div>
  </div>
</div>
<app-create-category *ngIf="createMode" (done)="onCreated()"></app-create-category>

