<div class="note-container">
  <div class="category">
    <fa-icon [icon]="faPenFancy"></fa-icon>
    {{category.name}}</div>
  <form #f="ngForm">
    <input
      class="form-control"
      type="text"
      placeholder="Title"
      [(ngModel)]="note.title"
      name="title">
    <textarea
      class="form-control"
      placeholder="Write your note"
      [(ngModel)]="note.content"
      name="description"
    ></textarea>
  </form>
  <div class="buttons">
    <button class="bg-gray-700 hover:bg-gray-500 text-white font-bold py-1.5 px-2.5 rounded-full mx-1"
            (click)="onSaveNote()">
      Save Note
    </button>
<!-- TODO: HIDE BUTTON IF NOTE_ID != EXIST   -->
    <button class="bg-gray-700 hover:bg-gray-500 text-white font-bold py-1.5 px-2.5 rounded-full mx-1"
            (click)="onDeleteNote()" [routerLink]="['../']">
      Delete Note
    </button>
  </div>
</div>
