<div class="block">
  <div class="notes-list">
     <div class="category">
      <h1>Notes</h1>
     </div>
    <div class="notes-container">
    <div class="notes-item" style="cursor: pointer"
         *ngFor="let note of notes"
         [routerLink]="[note.id]"
         routerLinkActive="link-active"
         [routerLinkActiveOptions]="{exact:true}">
      {{note.title}}
    </div>
    </div>
    <div class="add-button">
      <button class="bg-gray-700 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded-full" (click)="onCreateNote()">
        Create Note
      </button>
    </div>
  </div>
  <div class="note">
  <router-outlet></router-outlet>
  </div>
</div>
