.block {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 34% 67%;
  background-color: rgb(24,24,24);
}

.notes-container {
  height: 100%;
  /*border-bottom: 0.5px solid rgba(69,69,69,0.5);*/
  overflow-y: scroll;
}
.notes-container::-webkit-scrollbar {
  width: 10px;
}

.notes-container::-webkit-scrollbar-track {
  background: transparent;
}
.notes-container:hover::-webkit-scrollbar-thumb {
  background: #4A4A4A;
}

.notes-container::-webkit-scrollbar-thumb {
  background: transparent;
}

.notes-list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(24,24,24);
  color: white;
}

.add-button {
  height: 10%;
  padding-top: 7px;
  text-align: center;
}

.note {
  height: 100vh;
  width: 98%;
  border-left: 1px solid black;
  position: relative;
}
.empty-note-detail-container {
  position: absolute;
  top: 10%;
  left: 30%;
}

.center-h1 {
  margin-left: 23%;
}

.empty-note-detail {
    width: 70%;
    height: 60%;
}
.category {
  height: 12%;
  padding: 15px 10px 20px 30px;
  border-bottom: 0.5px solid rgba(69,69,69,0.5);
}
.notes-item:hover {
  background-color: rgb(40,40,40);
}
.notes-item {
  padding: 15px 10px 20px 30px;
  height: 18%;
  border-bottom: 0.5px solid rgba(69,69,69,0.5);
}

.empty-note-list-container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

 .empty-note-list {
}


.link-active {
  background-color: rgb(40,40,40);
  border: 3px solid dimgrey;
}




div .show #myDropdown {display: block;}

.dropdown-content {
  background-color: rgb(48,48,48);
  display: none;
  position: absolute;
  top: 40px;
  right: 1px;
  width: 170px;
  height: 125px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0.5px solid rgb(32,32,32);
  font-weight: 490;
}


.dropdown {
  padding-left: 8px;
  width: 30px;
  position: relative;
}

.dropdown:hover {
  border-radius: 10px;
  background-color: rgb(48,48,48);
}

.dropdown-item {
  cursor: pointer;
  width: 100%;
  display: block;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dropdown-item:hover{
  background-color: rgb(80,80,80);
}
