<div class="container">
  <div class="image-background"></div>
<h1 class="font-medium text-lg text-white">Good evening,{{username}}!</h1>
<div class="recent-notes-block rounded-2xl">
  <h1 class="text-gray-50" style="margin-left: 20px">Notes <span style="color: #32CD32" class="text-lg">  ></span></h1>
  <h3 style="color: #32CD32;text-decoration: underline solid;margin-left: 20px">Recent</h3>
  <div class="recent-notes-container">
    <div class="note">
      Recent Note
    </div>
    <div class="note">
      Recent Note
    </div>
    <div class="note">
      Recent Note
    </div>
    <div class="note">
      Recent Note
    </div>
    <div class="note">
      Recent Note
    </div>
    <div class="note">
      Recent Note
    </div>
  </div>
</div>
</div>
