<div class="backdrop"></div>
<div class="alert-box">
  <div class="alert-box-items">
  <h3 style="color: white">Create new notebook</h3>
  <p>Categories are useful for grouping notes around a common topic. They can be private or shared.</p>
  <div>
    <form  #f="ngForm">
       <label for="name" style="color: white">Name</label>
    <div>
       <input type="text" id="name" placeholder="Category Name" class="form-control text-muted" name="name" ngModel required>
    </div>
    </form>
  </div>
</div>
  <div class="alert-box-actions">
    <button  class="cancel-button py-2 px-4 rounded" type="button" (click)="onCancel()">Close</button>
    <button  class="create-button py-2 px-4 rounded"[disabled]="!f.valid" type="submit" (click)="onCreate(f)"> Create</button>
  </div>
</div>

