.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0,0.75);
  z-index: 50;
}

.alert-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 30vh;
  left: 30vw;
  width: 37vw;
  height: 43vh;
  z-index: 100;
  background: rgb(40,40,40);
  box-shadow: 0 2px 8px rgba(0,0,0,0.26);
  color: gray;
}

.alert-box-items {
  display: flex;
  height: 60%;
  flex-direction: column;
  padding: 16px;
  gap: 20px;
}
.alert-box-actions{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  width: 100%;
  height: 40%;
  padding: 20px;
  margin-top: 5%;
  border-top: 0.5px solid rgba(69,69,69,0.5);
}

.alert-box input {
  width: 95%;
  padding: 10px 10px;
  line-height: 10px;
  border: 1px solid rgba(69,69,69,1);
  background-color: rgb(40,40,40);
}

.cancel-button {
  background-color: rgb(40,40,40);
  border: 0.5px solid rgb(120,120,120)
}

.create-button {
  background-color: #00a82d;
  color: black;
  border: 0.5px solid black;
}

.create-button:disabled {
  background-color: dimgrey;
}
